
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/logs/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> Rest client vscode extension ###
*-test.http
###< Rest client vscode extension ###

###> Mysql docker container ###
/data/
###< Mysql docker container ###

###> Zip lambda service ###
/tools/
/.vscode/
###< Zip lambda service ###